blacw/.vscode
blacw/MIRACL
blacw/build
blacw/ntl-11.5.1
blacw/mirdef.h
privacy_preserving_borrowing/.vscode
privacy_preserving_borrowing/build
privacy_preserving_borrowing/MIRACL
privacy_preserving_borrowing/ppb/.vscode
perea/build
perea/ntl-11.5.1
blac/build
blac/ntl-11.5.1